html {
  position: relative;
  min-height: 100%
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box
}

body {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  background-color: Window
}

#go-telegram-btn {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  line-height: 32px;
  height: 32px;
  padding: 0 1rem;
  border-radius: 4px;
  background-color: blueviolet;
  text-decoration: none;
  border-bottom: .3rem solid #5b1c96
}

#go-telegram-btn:hover {
  cursor: pointer;
  background-color: #9b39f6
}

#main {
  text-align: center;
  width: 100%
}

#label {
  margin: 2rem 0
}

#label:not(:empty):before {
  content: "@";
  display: inline-block;
  color: darkgray
}

.card .avatar {
  width: 160px;
  height: 160px;
  background-color: lightblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 160px;
  border: 2pt solid white;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 0 0 1rem gray
}

.card .description {
  margin: 1rem 0;
  font-style: italic;
  color: gray
}

.progressbar {
  background-color: #6188F5;
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: 58px 32px;
  background-image: linear-gradient(315deg, transparent, transparent 33%, rgba(0, 0, 0, 0.12) 33%, rgba(0, 0, 0, 0.12) 66%, transparent 66%, transparent);
  animation-name: pb;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite
}

@keyframes pb {
  from {
    background-position: -320px 0
  }

  to {
    background-position: 0px 0
  }
}
